// ############################
// ## Input State Variables ###
// ############################
:root {
  --error-opacity: 0;
  --input-border: 1px solid hsl(0, 0%, 58%);
  --input-background: hsl(0, 0%, 100%);
  --input-text-color: hsl(234, 29%, 20%);
}

[data-error="true"] {
  --error-opacity: 1;
  --input-border: 1px solid hsl(4, 100%, 67%);
  --input-background: #ffe7e6;
  --input-text-color: hsl(4, 100%, 67%);
}

// ######################
// ## Font Variables ####
// ######################
$default-font-size: 1.6rem;

// ########################
// ## Spacing Variables ###
// ########################
$spaccing-800-64px: 64px;
$spacing-500-40px: 40px;
$spacing-400-32px: 32px;
$spacing-300-24px: 24px;
$spacing-200-16px: 16px;
$spacing-100-8px: 8px;

// ######################
// ## Color Variables ###
// ######################

$color-red: hsl(4, 100%, 67%);
$color-blue-800: hsl(234, 29%, 20%);
$color-blue-700: hsl(235, 18%, 26%);
$color-grey: hsl(0, 0%, 58%);
$color-white: hsl(0, 0%, 100%);
