.newsletter {
  background-color: $color-white;
  padding: $spacing-400-32px;
  border-radius: 36px;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  width: 904px;
  height: 641px; //Should not need once inner elements are built.
  display: inline-flex;
  gap: $spaccing-800-64px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-400-32px;
  }
  &__form {
    display: flex;
    flex-direction: column;

    & label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: $spacing-100-8px;
    }

    & input {
      padding: $spacing-200-16px $spacing-300-24px;
      margin-bottom: $spacing-300-24px;
      border-radius: 8px;
      border: 1px solid $color-grey;
      font-size: $default-font-size;
    }

    & button {
      color: $color-white;
      font-size: $default-font-size;
      font-weight: 700;
      background-color: $color-blue-800;
      border-radius: 8px;
      height: 56px;
      border: none;

      &:hover {
        background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
        box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
      }
    }
  }

  &__list {
    list-style-position: inside;
    // list-style-image: url(../assets/images/icon-list.svg);

    & li {
      display: flex;
      gap: $spacing-200-16px;

      &::before {
        content: "";
        background-image: url(../assets/images/icon-list.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 21px;
        width: 21px;
      }
    }

    & li:not(:last-child) {
      margin-bottom: $spacing-100-8px;
    }
  }

  &__image {
    transform: translateY(-8px);
  }
}
