*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Default browser font size is 16px. This gives you 10px baseline, making it easier to calculate rems*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  background-color: $color-blue-700;
  justify-content: center;
  align-items: center;

  padding: 0 80px;
  height: 100vh;

  @include respond(phone) {
    padding: 0;
  }
}
