button {
  color: $color-white;
  font-size: $default-font-size;
  font-weight: 700;
  background-color: $color-blue-800;
  border-radius: 8px;
  height: 56px;
  border: none;
  padding: 0 8px;

  &:hover {
    background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
  }
}
